:root {
    --primary-color: #00b8aa;
    --secondary-color: #4fa3f7;
    --background-color: #181818;
    --text-color: #eee;
}

* {
    box-sizing: border-box;
    outline: none;
    border: none;
}

body,
html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #181818;
    color: #eee;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 90%;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.value.muted {
    color: #555;
    opacity: 0.6;
}

.value.active {
    color: #fff;
    opacity: 1;
}

#startBtn {
    padding: 25px;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    border-radius: 10px;
    color: var(--text-color);
    background: none;
    user-select: none;
}

#startBtn:hover {
    cursor: pointer;
    color: #00b8aa;
}

#startBtn.disabled {
    transform: scale(0.95);
    opacity: 0.7;
}


#results {
    width: 80vw;
    max-width: 600px;
    height: 400px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#mainResults,
#extraResults {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mainResults {
    margin-bottom: 1.25rem;
}

.tile {
    flex: 0 0 31%;
    min-height: 100px;
    background: #232323;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.download-tile {
    width: 100%;
    min-height: 200px;
    aspect-ratio: 3;
    margin: 0 0 1rem 0;
}

.download-tile .type {
    font-size: 20px;
}

.download-tile .value {
    font-size: 3.5rem;
}

.download-tile .bitrate {
    font-size: 20px;
}

#mainResults .tile {
    flex: 1;
}

.type {
    font-size: 12px;
    font-weight: 200;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #aaa;
}

.value {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin: 0.2rem 0 0.5rem 0;
    display: inline-block;
    min-width: 2.5em;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s, color 0.2s;
}

.value.show {
    opacity: 1;
}

.bitrate {
    font-size: 12px;
    font-weight: 200;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #aaa;
}

#disclaimerHolder {
    width: 90%;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    position: fixed;
}

#disclaimer {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin: 0.5rem 0;
}

#disclaimer a {
    color: var(--primary-color);
    text-decoration: none;
    opacity: 0.8;
}